
//@mixin window-xs(){ @media (max-width: 575px){ @content; } }
//@mixin window-sm(){ @media (min-width: 576px){ @content; } }
//@mixin window-md(){ @media (min-width: 768px){ @content; } }
//@mixin window-lg(){ @media (min-width: 992px){ @content; } }
//@mixin window-xl(){ @media (min-width: 1200px){ @content; } }

@mixin window-xs(){ @media (max-width: 575px){ @content; } }
@mixin window-sm(){ @media (max-width: 767px){ @content; } }
@mixin window-md(){ @media (max-width: 991px){ @content; } }
@mixin window-lg(){ @media (max-width: 1199px){ @content; } }
@mixin window-xl(){ @media (min-width: 1200px){ @content; } }

body {
    #tbl_row_template { 
        display: none; 
    }
    
    footer.footer { 
        height: 40px; 
        line-height: 40px; 
        display: table; 
        width: 100%; 
    }
    
    .btn-sm { 
        text-decoration: none; 
    }
    
    .row-form { padding-bottom: 20px; padding-top: 10px; }
    
    .container-body { 
        min-height: calc(100vh - 100px);
            
        div {
            &.header.clearfix {
                margin: 30px 0 20px 0;
            }
        }
        
    }
    
    table {
        tbody {
            tr {
                td.change-form { display: none; }
                td.options { white-space: nowrap; }
                td {
                    div.row-template-inlines {
                        margin: 0;
                    }
                }
            }
        }
        
        thead.form {
            @include window-xs { display: none; }
        }
    }
        
    label {
        &.error {
            color: red;
        }
    }
    input, textarea, select {
        &.error {
            border-color: red;
        }
    }
}